<!-- header secction all page-->
<header>
    <div id="section1" class="container-fluid">
        <div>
            <h3>precios</h3>
        </div>
        <div id="imagenLogo">
            <img src="../../assets/img/logoIntro.png" width="30px" alt="">
        </div>
        <div id="justo">
            <h1><strong>justos</strong></h1>
        </div>
    </div>
</header>

<!-- main section by router-->
<div class="container mt-5 p-5">
    <router-outlet></router-outlet>
</div>



<!-- footer secction all page-->