
<div id="section1" class="container-fluid">
    <div>
        <h3>precios</h3>
    </div>
    <div id="imagenLogo">
        <img src="../../assets/img/logoIntro.png" width="30px" alt="">
    </div>
    <div id="justo">
        <h1><strong>justos</strong></h1>
    </div>
</div>

<!-- AQUI LA SECCION DEL SELECT DE PROVINCIAS-->

<div id="section2" class="container-fluid">
    <div class="col col-lg-6">
            <select class="form-select" name="provincias" id="" [(ngModel)]="provinciaSeleccionada">
                <option value="">Seleccione una Provincia</option>
                <option *ngFor="let provincia of provincia" [ngValue]="provincia">
                    {{provincia.nombre}}</option>
            </select>
    </div>
    <div id="lupa" type="submit">
        <img src="../../assets/img/buscar.png" width="35px" alt="">
    </div>
</div>

<!-- AQUI LA SECCION PARA MOSTRAR LA TABLA DE PROVINCIAS-->
        



<div class="container" id="tituloProvincia">
    <div>
        <h3>Provincia Seleccionada</h3>
    </div>
    <div>
        <h1 id="h11">{{provinciaSeleccionada.nombre}}</h1>   
    </div>
</div>


<div id = "btn1">
    <button routerLink="listaProducto"  type="button" class="btn btn-outline-light">Ver lista de Productos</button>
</div>